<!DOCTYPE html>
<html>
  <!-- head partial gets included here -->
  <%- include('./partials/head') -%>
  <body>
    <!-- Include menu here -->
    <%- include('./partials/menu') -%>

    <h1> Dashboard </h1>
    <h2> Name: <%= username %> </h2>
    <h2> Past logins</h2>
    <div class="table-responsive">
    <table class="table table-dark table-hover">
    <%for (var login in userinfo.lastLoginTime) {%>
        <tr>
        <td><%= userinfo.lastLoginTime[login] %></td>
        <td><%= userinfo.lastIP[login] %></td>
        </tr>
    <% } %>
    </table>
    </div>



  </body>
</html>